.container p {
    font-size: large;
}

.container p.highcharts-description {
    font-size: 15px;
}

.highcharts-figure {
    min-width: 320px;
    max-width: 800px;
    margin: 1em auto;
}

body {
    background-color: #2a2a2b;
    color: #E0E0E3;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857143;
}

.highcharts-description {
    background: linear-gradient(#2a2a2b, #3e3e40);
    padding: 10px;
    margin-bottom: 0;
}

#preloader, #preloader2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#preloader3, #preloader4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.img-container {
    text-align: center;
    display: block;
    padding-top: 30px;
}

#user-img {
    width: 150px;
    height: auto;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: darkgrey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 3px;
    user-select: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.next {
    right: 0;
}

#prev:hover, #next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: navy
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: darkgrey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot_active {
    background-color: #0D98BA;
}

.dot:hover {
    background-color: #3AB09E;
}

.neo4jd3 {
    height: 100%;
    overflow: hidden;
}

.restart-btn {
    background-color: #FFC400;
    color: black;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 40%;
    font-size: 14px;
}

.btn, .dropdown-item {
    font-size: 14px;
    cursor: pointer;
}

.btn.btn-lg {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

#search_btn {
    background-color: #FFC400;
    color: black;
}

#toggle_btn:hover, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: #ffd752;
    color: black;
}

.sec_header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

p.sec_subheader {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}

.checkbox_container {
    border: 1px solid #aaa;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.nav-link {
    color: #E0E0E3;
}

a.nav-link.active {
    font-weight: bold;
}

.far.fa-check-circle {
    color: #aaa;
    font-size: large;
    float: right
}

.far.fa-check-circle.checked {
    color: #67e68d;
    font-size: large;
    float: right
}

.table-dark {
    background: linear-gradient(#2a2a2b, #3e3e40);
}

.table td, .table th {
    text-align: center;
    border-right: 1px solid rgb(50, 56, 62);
    cursor: pointer;
}

.table-dark.table-hover tbody tr:hover {
    background: initial;
}

#pref_table tr td:hover {
    background-color: rgba(255, 255, 255, .075);
}

.clickable.active {
    background-color: #17a2b8!important;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

#search_new {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-size: medium;
}

.ui-menu .ui-menu-item div {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.autocomplete div {
    font: initial;
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857143;
}

hr {
    background-color: #e0e0e3c0;
}

.pill {
    border-radius: 25px;
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin: 3px;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
}

.pill.selected {
    background-color: #17a2b8;
}

.pill:hover {
    background-color: #3AB09E;
}

p.summary {
    text-align: center;
    font-size: medium;
    border-bottom: 1px solid grey;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.list-group-item {
    background-color: inherit;
    text-align: center;
    border: 0;
}